<div class="game-panel selection-page">

  <h2>Choose game type</h2>

  <div class="game-type-list">
    @for (gameType of gameTypes; track gameType) {
      <button type="button" class="game-type-button"
         [routerLink]="['/', gameType.name]"
         [disabled]="!availableGameTypes.has(gameType.name)">

        <div class="game-type-icon">
          <img
            [src]="'puzzle-icons/' + gameType.name + '-min.png'"
            [alt]="gameType.displayName"
          >
        </div>
        <span class="game-type-name">
          {{ gameType.displayName }}
          @if (!availableGameTypes.has(gameType.name)) {
            <span><i>
              (Coming soon!)
            </i></span>
          }
        </span>

        <i class="bi bi-chevron-right"></i>
      </button>
    }
  </div>

  <button class="about-button" type="button"
          (click)="aboutDialog.open()">
    <i class="bi bi-info-circle"></i> About the Game
  </button>

</div>

<app-about-dialog #aboutDialog></app-about-dialog>
