<div class="game-panel game-page">

  <div class="game-page-header">
    <button routerLink="/"
            class="back-button">
      <i class="bi bi-arrow-left"></i> Back
    </button>
  </div>

  @if (errorMessage) {
  <div class="game-error">
    <div class="game-error-code">404</div>
    <p class="game-error-message">{{ errorMessage }}</p>
  </div>
  }

  @if (gameType) {
    <h2>{{gameType.displayName}}</h2>

    <div class="game-content">

      <aside class="game-sidebar">
        <!-- temp start -->
        @for (task of gameType.tasks; track task) {
          <button (click)="setSelectedTask(task)"
                  [class.solved]="isUserSolvedTask(task)"
          >
            {{ task.id }}
          </button>
        }
        <button (click)="markAsSolved()">Mark as solved</button>
        <!-- temp end -->

        <!-- opcje gry -->
      </aside>

      <section class="game-board-area">
        <!-- temp start -->
        @if(selectedTask) {
          <p>{{selectedTask.id}}</p>
        }
        <!-- temp end -->
        <!-- plansza / układanka -->
      </section>

    </div>
  }

</div>
