<div class="game-panel game-page">

  <div class="game-page-header">
    <button routerLink="/"
            class="back-button">
      <i class="bi bi-arrow-left"></i> Back
    </button>
  </div>

  @if (errorMessage) {
  <div class="game-error">
    <div class="game-error-code">404</div>
    <p class="game-error-message">{{ errorMessage }}</p>
  </div>
  }

  @if (gameType) {
    <h2>{{gameType.displayName}}</h2>
    <div class="game-content">

      <aside class="game-sidebar">
        <!-- opcje gry -->
      </aside>

      <section class="game-board-area">
        <!-- plansza / układanka -->
      </section>

    </div>
  }

</div>
